*,
html {
    margin: 0;
    padding: 0;
}

.container-doang {

}

.navbar {
    width: 100%;
    height: 10vh;
}

.ulnavbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.linavbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;

}

.linavbar:hover {
    background-color: bisque;
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-navbar {
    color: black;
    text-decoration: none;
    font-weight: 800;

}

.container-conten {
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-conten {
    width: 720px;
    height: 480px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.img-conten {
    width: 50%;
    height: 50%;
    
}
.img-instagram {
    width: 40%;
    height: 60%;

}
.img-facebook {
    width: 40%;
    height: 60%;
}

.container-footer {
    height: 10vh;
    display: flex;
    background-color: tan;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
}